  <div class="container">
    <div class="row">
      <div class="col-md-8 col-xl-8 mx-auto">
        <h2>レシピ一覧</h2>

        <table class="table">
          <thead>
            <tr>
              <th>レシピID</th>
              <th>レシピ名</th></th>
              <th>ジャンル</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @recipes.order("id DESC").each do |recipe| %>
              <tr>
                <td><%= recipe.id %></td>
                <td><%= link_to admin_recipe_path(recipe), style: "font-family: HiraMinPro-W6; color: #000000; margin: 30px 0;" do %>
                <%= recipe.name %>
                <% end %></td>
                <td><%= recipe.genre.name %></td>
                <td><%= link_to "×", admin_recipe_path(recipe.id), method: :delete, "data-confirm" => "レシピを削除しますか?", class: "btn btn-danger" %></td>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
          </div>
          <%= paginate @recipes, style: "font-family: HiraMinPro-W6; color: #000000; margin: 30px 0;" %>
      </div>
    </div>
  </div>