<div class="container">
  <div class="row">
    <div class="col-md-12 col-xl-12">
      <h2>レシピ詳細</h2><br>
    </div>

  <div class="container">
    <div class="row">
      <div class="col-md-5 col-xl-5">
          <%= link_to user_recipe_path(@recipe.id) do %>
            <% if @recipe.image.attached? %>
            <%= image_tag @recipe.image, size:"300x300", fallback: 'no_image.png', class: 'img-fluid' %>
            <% else %>
            <%= image_tag 'no_image.png', size: '300x300' %>
            <% end %>
          <% end %>
      </div>
      <div class="col-md-7">
        <table class="table">
          <tbody>
            <tr>
              <td>商品名</td>
              <td><%= @recipe.name %></td>
            </tr>
            <tr>
              <td>商品説明</td>
              <td><%= @recipe.introduction %></td>
            </tr>
            <tr>
              <td>ジャンル</td>
              <td><%= @recipe.genre.name %></td>
            </tr>
            <tr>
              <td>公開ステータス</td>
              <td>
              <% if @recipe.post_status == true %>
                公開中
              <% else %>
                非公開中
              <% end %>
              </td>
            </tr>
          </tbody>
        </table>

        <div class="col-md-offset-1">
          <%= link_to "編集する" , edit_admin_recipe_path(@recipe), class:"btn btn-lg btn-success" %>
        </div>
      </div>
    </div>
  </div>








