<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-9 offset-md-1">
      <h3>お気に入りレシピの一覧</h3><% @recipes.each do |recipe| %>

    <div class="col-md-9 offset-md-1">
      <%= link_to user_recipe_path(recipe.id) do %>
      <% if recipe.image.attached? %>
        <%= image_tag recipe.image, class: 'img-fluid', style: 'width: 100%; height: 200px; object-fit: cover;' %>
      <% else %>
        <%= image_tag 'no_image.png', class: 'img-fluid', style: 'width: 100%; height: 200px; object-fit: cover;' %>
      <% end %>
      <!--, style: "max-width: 100%; height: auto"-->
      <% end %>
      <div><i class="fas fa-bookmark"></i><%= recipe.favorites.count %>  <%= recipe.name %></div>
      <div><%= recipe.genre.name %></div>
    </div>

<% end %>

    </div>
  </div>
</div>

