<div class="container">
  <div class="row">
    <div class="col-md-5 col-xl-5">
    <h2><%= @user.last_name + @user.first_name %>さんの登録詳細</h2><br>
    </div>

  <table class="table table-hover table-inverse">
    <thead>
      <tr>
        <th>
          ユーザーID
        </th>
          <td>
            <%= @user.id %>
          </td>
      </tr>
      <tr>
        <th>
          ユーザーネーム
        </th>
          <td>
            <%= @user.user_name %>
          </td>
      </tr>
      <tr>
        <th>
          氏名
        </th>
          <td>
            <%= @user.last_name %> <%= @user.first_name %>
          </td>
      </tr>
      <tr>
        <th>
          ステータス
        </th>
          <td>
            <% if @user.is_deleted == false %>
              有効
            <% else %>
              退会
            <% end %>
          </td>
      </tr>
    </thead>
  </table>

  <div class="col-md-offset-1 col-md-2 text-center">
    <%= link_to  "編集する", edit_admin_member_path, class: "btn btn-success" %>
  </div>

  </div>
  </div>