  <div class="container">
    <p><h5>月齢</h5></p>
      <%= form_with model: @recipe, url: user_recipes_path, method: :get do |f| %>
        <% Tag.all.each do |t| %>
          <%= check_box :tag_ids, t.name %> <%= t.name %><br>
        <% end %>

    <p><h5>ジャンル検索</h5></p>

        <%= f.collection_check_boxes(:genre_ids, @genres, :id, :name) do |b| %>
          <%= b.label { b.check_box + b.text } %>
        <% end %>

        <%= f.submit '検索' %>
      <% end %>
  </div>