  <% if @recipe.errors.any? %>
    <%= @recipe.errors.count %>件のエラーが発生しました
    <ul>
      <% @recipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>

  <%= form_with model: recipe, url: path,method: action do |f| %>

    <div class="form-group">
      <%= f.label :introduction, 'レシピ画像' %>
      <%= f.file_field :image, accept: "image/*", class: 'mr-3' %>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :recipe_name, 'レシピ名' %> <font color=”#800000”>*</font>
          <%= f.text_field :recipe_name, class: 'form-control' %>
        </div>
        </div>
      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :number_of_people, '目安人数' %> <font color=”#800000”>*</font>
          <%= f.number_field :number_of_people, class: 'form-control', min: 1 %>
        </div>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :introduction, '説明' %> <font color=”#800000”>*</font>
      <%= f.text_area :introduction, rows: 5, class: 'form-control' %>
    </div>

    <div class="form-group">
      <label>材料</label> <font color=”#800000”>*</font>
      <div class="recipe-post">
          <!--< %=form_with model: @recipe,url: admin_recipes_path, local: true, method: :post do |f| %>-->
          <div class="recipe-ingredients">

            <div class="mx-auto">
              <%= f.fields_for :recipe_ingredients do |t| %>
                <%= render "user/recipes/recipe_ingredient_fields", f: t %>
              <% end %>
            </div>

            <div id="detail-association-insertion-point"></div>

            <div class="row">
              <div class="col-md-4 mx-auto">
                <%= link_to_add_association "追加", f, :recipe_ingredients,
                  class: "btn btn-primary btn-block",
                  data: {
                    association_insertion_node: '#detail-association-insertion-point',
                    association_insertion_method: 'after'
                  }
                %>
              </div>
            </div>
          </div>
        </div>
    </div>

    <div class="form-group">
      <%= f.label :how_to_make, '作り方' %> <font color=”#800000”>*</font>
      <%= f.text_area :how_to_make, rows: 10, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :genre, 'ジャンル' %> <font color=”#800000”>*</font>
      <%= f.collection_select :genre_id, @genres, :id, :genre_name, {prompt: "選択してください"}, class: 'form-control' %>
    </div>

    <div class='form-group'>
      <%= f.label :genre, 'タグ' %>
      <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :tag_name) do |tag| %>
      <div class='form-check'>
        <%= tag.label class: 'form-check-label' do %>
          <%= tag.check_box class: 'form-check-input' %>
          <%= tag.text %>
        <% end %>
        </div>
      <% end %>
    </div>

    <div class="form-group">
      <%= f.label :status, 'ステータス', class: 'mr-3' %> <font color=”#800000”>*</font>

      <label class="mr-3">
        <%= f.radio_button :post_status, true, checked: true %> 公開中
      </label>
      <label>
        <%= f.radio_button :post_status, false %> 非公開中
      </label>

    </div>

    <div class="row">
      <div class="col-md-4 mx-auto">

        <%= f.submit button ,class: "btn btn-primary btn-block" %>
      </div>
    </div>

  <% end %>