<div class="container">
  <div class="row">
  <h2>レシピ一覧</h2>(全<%= @recipes.count %>件)

  <div class="row">

      <% @recipes.each do |recipe| %>

    <div class="col-3">
      <%= link_to user_recipe_path(recipe.id) do %>
      <%= image_tag recipe.image, size: '200x200' %>
      <!--, style: "max-width: 100%; height: auto"-->
      <% end %>

      <div><%= recipe.name %></div>
      <div><%= recipe.genre.name %></div>
    </div>

        <% end %>
