  <div class="container">
    <% if @recipe.user == current_user %>
    <div class="row">
      <div class="col-md-auto ml-auto">
        <%= link_to "編集する", edit_user_recipe_path(@recipe), class:"btn btn-success btn-block" %>
      </div>
      <div class="col-md-auto lg-2">
        <%= link_to "レシピの削除", user_recipe_path(@recipe), method: :delete, "data-confirm" => "一度消すと元には戻せません。本当にこのレシピを削除しますか?", class: "btn btn-danger btn-block" %>
      </div>
    <% end %>
      </div>
        <% if admin_signed_in? %>
      <div class="col-md-auto ml-auto">
        <%= link_to "管理者による削除", user_recipe_path(@recipe), method: :delete, "data-confirm" => "管理者として、このレシピを削除しますか?", class: "btn btn-danger btn-block" %>
      </div>
        <% end %>

      <div class="container">
    <div class="row">
      <div class="col-md-3">
         コメント<%= @recipe.comments.count %>件
          <% if user_signed_in? %>
            <% if @recipe.favorited_by?(current_user) %>
              <%= link_to user_recipe_favorites_path(@recipe), method: :delete do %>
              <i class="fas fa-bookmark"></i>
              <%= @recipe.favorites.count %>
            <% end %>

            <% else %>
              <%= link_to user_recipe_favorites_path(@recipe), method: :post do %>
              <i class="far fa-bookmark"></i>
              <%= @recipe.favorites.count %>
            <% end %>
            <% end %>
          <% end %>



        <%= link_to user_recipe_path(@recipe.id) do %>
          <% if @recipe.image.attached? %>
          <%= image_tag @recipe.image, size:"300x300", fallback: 'no_image.png', class: 'img-fluid' %>
          <% else %>
          <%= image_tag 'no_image.png', size: '300x300' %>
          <% end %>
        <% end %>
        <i class="fas fa-user-circle"></i><%= @recipe.user.user_name %>(ID:<%= @recipe.user.id %>)
      </div>


      <div class="col-md-9">
        <table class="table">
          <tbody>
            <tr>
              <td colspan="2"><h3><%= @recipe.name %></h3></td>
            </tr>
            <tr>
              <td>説 明</td>
              <td><%= @recipe.introduction %></td>
            </tr>
            <tr>
              <td>目安人数</td>
              <td><%= @recipe.number_of_people %></td>
            </tr>
            <tr>
              <td>材料</td>
              <td>
                <% @recipe.recipe_ingredients.each do |ri| %>
                <%= ri.ingredient %> (<%= ri.ingredient_amount %>)
                <% end %>
              </td>
            </tr>
            <tr>
              <td>作り方</td>
              <td><%= simple_format(@recipe.how_to_make) %></td>
            </tr>
            <tr>
              <td>ジャンル</td>
              <td><%= @recipe.genre.name %></td>
            </tr>
            <tr>
              <td>タグ</td>
              <td>
                <span>
                  <%= @recipe.tags.pluck(:name).join('、') %>
                </span>
              </td>
            </tr>
            <tr>
            <% if @recipe.user == current_user %>
              <td>投稿ステータス</td>
              <td>
              <% if @recipe.post_status == true %>
                公開中
              <% else %>
                非公開中
              <% end %>
            <% end %>
              </td>
            </tr>
          </tbody>
        </table>

        <% if user_signed_in? || admin_signed_in? %>
      <div>
        <p>コメント</p>
        <%= form_with model: @comment, url: user_recipe_comments_path(@recipe) do |f| %>
          <%= f.text_area :comment, rows: 5, placeholder: "レシピの感想などをここに", class: 'form-control' %>
          <%= f.submit "送信する" %>
        <% end %>
      </div>

          <table class="table">
            <thead>
              <tr>
                <th scope="col">no.</th>
                <th scope="col">user name（ID）</th>
                <th scope="col">comment</th>
                <th scope="col">create</th>
                <th scope="col"></th>
              </tr>
              </thead>
            <tbody>
              <% @recipe.comments.order("id DESC").each do |comment| %>
                <tr>
                  <th scope="row"><%= comment.id %>.</th>
                  <td><%= comment.user.user_name %>(ID:<%= comment.user.id %>)</td>
                  <td><%= comment.comment %></td>
                  <td><%= comment.created_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
                  <td>
                    <% if comment.user == current_user %>
                      <%= link_to "削除", user_recipe_comment_path(@recipe.id,comment.id), method: :delete, "data-confirm" => "コメントを消しますか?", class: "btn btn-danger" %>
                    <% end %>

                    <% if admin_signed_in? %>
                      <%= link_to "削除", user_recipe_comment_path(@recipe.id,comment.id), method: :delete, "data-confirm" => "管理者として不適切なコメントを削除しますか?", class: "btn btn-danger" %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% end %>
      </div>
    </div>
  </div>
</div>
