  <div class="container">
    <div class="row">
      <p><font color=”#008000”><%= flash[:notice] %></font></p>
      <p><font color=”#800000”><%= flash[:warning] %></font></p>
      <h3>レシピ一覧</h3>(全<%= @recipes.count %>件)
      <div class="col-md-12 col-xl-12">

        <div class="text-right">
          <%= link_to "新規登録", new_recipe_path, class:"btn btn-lg btn-success" %>
        </div>

        <div class="row">
          <div class="col d-flex align-items-center">
            レシピID
          </div>
          <div class="col d-flex align-items-center">
            画像
          </div>
          <div class="col d-flex align-items-center">
            レシピ名
          </div>
          <div class="col d-flex align-items-center">
            ジャンル
          </div>
          <div class="col d-flex align-items-center">
            いいね
          </div>
          <div class="col d-flex align-items-center">
            投稿ステータス
          </div>
        </div>

      <% @recipes.order("id DESC").each do |recipe| %>

        <div class="row">
          <div class="col d-flex align-items-center">
            <%= recipe.id %>
          </div>
          <div class="col d-flex align-items-center">
            <%= link_to recipe_path(recipe) do %>
              <% if recipe.image.attached? %>
                <%= image_tag recipe.image, size: '100x100' %>
              <% else %>
                <%= image_tag 'no_image.png', size: '100x100' %>
              <% end %>
            <% end %>
          </div>
          <div class="col d-flex align-items-center">
            <%= link_to recipe_path(recipe), style: "font-family: HiraMinPro-W6; color: #000000; margin: 30px 0;" do %>
              <%= recipe.recipe_name %>
            <% end %>
          </div>
          <div class="col d-flex align-items-center">
            <%= recipe.genre.genre_name %>
          </div>
          <div class="col d-flex align-items-center">
            <%= recipe.favorites.count %>
          </div>
          <div class="col d-flex align-items-center">
            <% if recipe.post_status == true %>
              公開中
            <% else %>
              非公開中
            <% end %>
          </div>
        </div>
      <% end %>

  <%= paginate @recipes, style: "font-family: HiraMinPro-W6; color: #000000; margin: 30px 0;" %>

