  <div class="container">
    <div class="row">
      <%= form_with(model:@user, url: member_path ,method: :patch) do |f| %>
      <div class="col-md-12 row">
          <div class="col-md-12 row">
            <h3 class="col-md-12">登録情報の編集</h3>
            <%= f.label :"氏名", class: "col-md-2 control-label", style: "margin: 10px;" %>
            <%= f.text_field :last_name, class: "last_name col-md-3 form-control-static name", style: "margin: 10px;" %>
            <%= f.text_field :first_name, class: "first_name col-md-3 form-control-static name", style: "margin: 10px;" %>
          </div>
          <div class="col-md-12 row">
            <%= f.label :"ユーザーネーム", class: "col-md-2 control-label", style: "margin: 10px;" %>
            <%= f.text_field :user_name, class: "last_name col-sm-3 form-control-static name", style: "margin: 10px;" %>
          </div>
          <div class="col-md-12 row">
            <%= f.label :"メールアドレス", class: "col-md-2 control-label", style: "margin: 10px;" %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "col-sm-6 form-control-static", style: "margin: 10px;" %>
          </div>
        </div>
        <div class="col-md-2 offset-md-4 ">
          <%= f.submit "保存する", class: "btn btn-primary", style: "margin: 10px;" %>
        </div>
      <% end %>
    </div>
  </div>