<div class="container">
  <div class="row">
    <h3>マイページ</h3>

    <div class="col-md-auto ml-auto">
      <%= link_to "編集する", edit_user_member_path(@users), class: "col-xs-12 btn btn-success"%>
    </div>
  </div>
</div>
    <div class="col-md-8 col-xl-8 mx-auto">
      <div class="table-responsive">
        <table class= "table-borderess">
          <tbody>
            <tr>
              <td>ユーザーネーム</td>
              <td><%= @users.user_name %></td>
            </tr>
            <tr>
              <td>氏名</td>
              <td><%= @users.last_name %> <%= @users.first_name %></td>
            </tr>
            <tr>
              <td>メールアドレス
              </td>
              <td><%= @users.email %></td>
            </tr>
          <tbody>
        </table>
      </div>
    </div>
  </div>
</div>
</div>
