<!DOCTYPE html>
  <html>
    <head>
      <title>Hoicook</title>
      <meta name="viewport" content="width=device-width,initial-scale=1">
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>

      <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <body class="d-flex flex-column vh-100">
      <header class="shadow-sm">
        <p>ひとくち食べるきっかけに</p>

        <div class="container">
          <a class="navbar-brand p-3" href="/">
            <%= link_to root_path do %>
            <%= image_tag 'logo.png', size: '120x120' %>
          </a>
        <% end %>

          <div class="row">
          <div class="col-md-12 col-xl-12">
          <nav class="navbar navbar-expand-lg navbar-light">
              <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav ml-auto">

                  <% if admin_signed_in? %>
                    <li class="nav-item">
                      <%= link_to "レシピ一覧", admin_recipes_path, class: 'btn btn-outline-secondary' %>
                    </li>
                    <li class="nav-item">
                      <%= link_to "ユーザー一覧", admin_members_path, class: 'btn btn-outline-secondary ml-2' %>
                    </li>
                    <li class="nav-item">
                      <%= link_to "コメント一覧", admin_path, class: 'btn btn-outline-secondary ml-2' %>
                    </li>
                    <li class="nav-item">
                      <%= link_to "ジャンル一覧", admin_genres_path, class: 'btn btn-outline-secondary ml-2' %>
                    </li>
                    <li class="nav-item">
                      <%= link_to "ログアウト", new_admin_session_path, method: :delete, class: 'btn btn-outline-secondary ml-2' %>
                    </li>

                  <% else if user_signed_in? %>
                    <li class="nav-item">
                      <%= link_to "マイページ", user_path, class: 'btn btn-outline-secondary' %>
                    </li>
                    <li class="nav-item">
                      <%= link_to "レシピ一覧", user_recipes_path, class: 'btn btn-outline-secondary ml-2' %>
                    </li>
                    <li class="nav-item">
                      <%= link_to "レシピの投稿", new_user_recipe_path, class: 'btn btn-outline-secondary ml-2' %>
                    </li>
                    <li class="nav-item">
                      <%= link_to "ログアウト", root_path, method: :delete, class: 'btn btn-outline-secondary ml-2' %>
                    </li>

                  <% else %>
                    <li class="nav-item">
                      <%= link_to "トップページ", root_path, class: 'btn btn-outline-secondary' %>
                    </li>
                    <li class="nav-item">
                      <%= link_to "レシピ", user_recipes_path, class: 'btn btn-outline-secondary ml-2' %>
                    </li>
                  <% end %>
                </ul>
                <% end %>
                </ul>
              </div>
          </nav>
          </div>
          </div>
        </div>
      </header>
    </body>

    <body>
      <%= yield %>
    </body>
  </html>
